html,
body {
    height: 100%;
}

body {
    background-color: hsl(324, 100%, 90%);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

mat-card-header {
    font-weight: bold;

    &.center {
        display: flex;
        justify-content: center;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
